<li>
  <%=<span>"Flight Departure Airport: #{flight.departure_airport"}</span>%>
  <%=<span>" Flight Arrival Airport: #{flight.arrival_airport"}</span>%>
  <%=<span>" Flight Departure Airport: #{flight.start_time}</span>%>
  <%=<span>" Flight Departure Airport: #{flight.flight_time"}</span>%>
</li>
